.cart-form {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.action {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .cart-form {
    width: calc(100% - 420px);
  }
}
.successMessage {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid green;
  color: green;
  font-weight: 500;
  background-color: #e6ffe6;
  border-radius: 8px;
}
