.toast {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  animation: fade 200ms linear;
  z-index: 5;
  box-sizing: border-box;
  min-width: 280px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action {
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 5px;
  width: 100%;
  cursor: pointer;
  transition: opacity 150ms linear;
}

.action:hover {
  opacity: 0.7;
  transition: opacity 150ms linear;
}

.info {
  color: #ffffff;
  background-color: rgba(81, 81, 81, 0.3); /* Полупрозрачный фон */
  backdrop-filter: blur(8px); /* Блюр заднего фона */
  -webkit-backdrop-filter: blur(10px); /* Для Safari */
  box-shadow: 0px 6px 12px rgba(130, 82, 208, 0.16);
  mix-blend-mode: difference;
}

/* .success {
  background-color: #161616;
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.16);
} */
.success {
  background-color: rgba(81, 81, 81, 0.3); /* Полупрозрачный фон */
  backdrop-filter: blur(8px); /* Блюр заднего фона */
  -webkit-backdrop-filter: blur(10px); /* Для Safari */
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  font-family: "Arial", sans-serif;
  animation: punchFade 2.2s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
  z-index: 1000;

  mix-blend-mode: difference;
}

@keyframes punchFade {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%) scale(1);
  }

  20% {
    opacity: 1;
    transform: translate(-50%, 0%) scale(1);
  }

  35% {
    transform: translate(-50%, 0%) scale(1);
  }

  50% {
    transform: translate(-50%, 0%) scale(1);
  }

  65% {
    transform: translate(-50%, 0%) scale(1);
  }

  85% {
    opacity: 1;
    transform: translate(-50%, 0%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -80%) scale(1);
  }
}

.warning {
  background-color: #837e77;
  box-shadow: 0px 6px 12px rgba(245, 152, 33, 0.16);
}

.error {
  background-color: #ef2525;
  box-shadow: 0px 6px 12px rgba(255, 7, 7, 0.16);
}

@media screen and (min-width: 768px) {
  .toast {
    flex-direction: row;
    width: auto;
    gap: 25px;
  }

  .action {
    text-align: left;
    padding-top: 0;
    border-top: none;
    padding-left: 10px;
    border-left: 1px solid #fff;
    width: auto;
  }
}
