.showcase {
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: fit-content(230px) auto min-content;
  min-height: 100vh;
  gap: 40px;
  margin: 0 auto;
  /* padding: 0 10px; */
}

@media screen and (min-width: 1280px) {
  .showcase {
    padding: 0;
  }
}
.videoWrapper {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
}
